<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="http://esyasoft.com/" target="_blank">
    <img src="./assets/images/esya-logo-in.png" height="30" alt="">
  </a>
  <!--<span class="navbar-brand mb-0 h1">Esyasoft</span>-->
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link disabled">Employee</a>
      <a class="nav-item nav-link disabled">Manager</a>
      <a class="nav-item nav-link active">Executive <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link disabled">Admin</a>
    </div>
  </div>
  <div class="btn-group open">
    <a class="btn btn-outline-success btn-sm" href="" (click)="authService.logout()">Executive &nbsp;<i class="fa fa-sign-out" aria-hidden="true"></i></a>
  </div>
</nav>