<div class="dashboard_header">
  <div class="wrapper">
    <div class="dashboard_header_inr">
      <div class="dashboard_header_logo">
        <a><img src="..//../assets/images/maha-vitaran-logo.png" alt=""></a>
      </div>
      <div class="dashboard_menu">
        <ul>
            <li><a routerLink="../dashboard">Home</a></li>
            <li><a routerLink="../readingDetails">HT Reading Details</a></li>
            <li><a routerLink="../loadProfile">HT Load Profile</a></li>
            <li><a routerLink="../view-pay">View/Pay Bill</a></li>
            <li><a routerLink="../paymentHistory">Payment History</a></li>
        </ul>
      </div>
      <div class="dashboard_right">
        <div class="dashboard_notification">
          <a></a>
        </div>
        <div class="dashboard_account">
          <div class="dashboard_account_box">
            <a>
              <div class="dashboard_account_img">
                <img src="..//../assets/images/ellipse.png" alt="">
              </div>
              <div class="dashboard_account_name">
                <p>Consumer Name</p>
              </div>
            </a>
          </div>
          <div class="dashboard_account_detail">
            <ul>
                  <li class="view_profile"><a routerLink="/consumerprofile">View Profile</a></li>
                  <li class="send_feedback"><a routerLink="/feedback">Send Feedback</a></li>
                  <li class="setting"><a>Settings</a></li>
                  <li class="logout"><a href="#.">Logout</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
