select.empty {
	color: grey;
}
select option[disabled]:first-child {
	display: none;
}

table tr.selected {
	background-color: darkslategray !important;
	color: ivory;
}

.form-group {
	margin-bottom: 0%;
}