<div class="dashboard">
  <app-header></app-header>
	<div class="consumer_info">
		<div class="wrapper">
			<div class="consumer_info_otr clearfix">
				<div class="consumer_info_left">
					<div class="consumer_info_left_bg">
						<!--<div class="consumer_info_profile">
							<img src="..//../assets/images/consumer_info_profile.png" alt="">
						</div>-->
						<div class="consumer_info_profile_name">
							<h2>Rahul Agarwal</h2>
							<p>Service Number: 002547869852</p>
						</div>
						<div class="consumer_info_profile_adress consumer_info_profile_detail">
							<small>Address</small>
							<p>70 , Prabhat Centre, Sector A, Belapur (CBD), Mumbai,  Maharashtra, 400614</p>
						</div>
						<div class="consumer_info_profile_number consumer_info_profile_detail">
							<small>Mobile Number</small>
							<a href="tel:+918647856987">+91 8647856987</a>
						</div>
						<div class="consumer_info_profile_email consumer_info_profile_detail">
							<small>Email</small>
							<a href="mailto:d00knlzwtj5@claimab.com">d00knlzwtj5@claimab.com</a>
						</div>
					</div>
				</div>
				<div class="consumer_info_right">
					<h3>Send us Feedback</h3>
					<div class="consumer_info_right_box">
            <form class="page_form_inr" name="loginform" method="post" #loginCtrl="ngForm">
              <!--<div class="input-field">
                <input id="username" type="text" class="validate" name="userid" [(ngModel)]="userLogin.userid">
                <label for="username">Name</label>
              </div>
              <div class="input-field">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
                <span class="helper-text" data-error="wrong" data-success="right"></span>
              </div>-->
              <div class="input-field">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Feedback</label>
              </div>
              <div class="input-field input-submit">
                  <button type="button">Send</button>
              </div>
            </form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-footer></app-footer>
</div>
