<div class="dashboard">
	<app-header></app-header>
	<div class="dashboard_bill">
		<div class="wrapper">
			<div class="bill_history">
				<h2>Payment History</h2>
				<div class="bill_history_top">
					<div class="bill_history_top_left">
						<small>Latest Bill Number</small>
						<p>0054687596412 - 5689135745632</p>
					</div>
					<div class="bill_history_top_right">
						<div class="bill_history_box">
							<small>Latest Bill Month</small>
							<p>Jun 2018</p>
						</div>
						<div class="bill_history_box">
							<small>Payment Type</small>
							<p>HT Energy Dues</p>
						</div>
						<div class="bill_history_box">
							<small>Paid Amount</small>
							<p>1,45,258.00</p>
						</div>
						<div class="bill_history_box">
							<small>Collection Mode</small>
							<p>Online</p>
						</div>
						<div class="bill_history_box">
							<small>Recepit Number (M)</small>
							<p>BV399801/399859</p>
						</div>
						<div class="bill_history_box">
							<small>Recepit Number (S)</small>
							<p>401/1/100/18012205</p>
						</div>
						<div class="bill_history_box">
							<small>Paid Date</small>
							<p>20 - Jun - 2018</p>
						</div>
						<div class="bill_history_box">
							<small>Mode of Payment</small>
							<p>Cheque</p>
						</div>
					</div>
					<div class="a_btn">
						<a href="#.">view complete payment history</a>
					</div>
				</div>
				<div class="bill_history_bottom">
					<canvas id="paymenthistory_chart" style="width:105%; height:420px;"></canvas>
				</div>
			</div>
		</div>
	</div>
	<app-footer></app-footer>
</div>
